.search-segment {
  width: 100%;
}

.search-container-alignment {
  background-color: rgb(224, 243, 250);
}

.search-container {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}

.header {
  color: rgb(40, 57, 133);
  font-size: 60px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 600px;
}

.doctor-list {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
}

.common-search-label, .doctor-list-label {
  color: rgb(40, 57, 133);
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.doctor-detail {
  min-width: 400px;
  margin-left: 50px;
  margin-right: 50px;
}

.profile-image {
  width: 60px;
  height: 60px;
}

.clip-circle {
  clip-path: circle(30px at center);
}

.mat-card {
  min-width: 200px;
}

.mat-toolbar {
  justify-content: space-between;
}

.mat-card-actions {
  justify-content: space-between;
}

.common-search-card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px cornflowerblue, 0px 4px 5px 0px cornflowerblue,
    0px 1px 10px 0px cornflowerblue;
}

.common-search-image {
  padding-top: 10px;
  width: calc(100% - 40px);
  margin: 24px -16px 16px 16px;
}

.common-search-title {
  text-align: center;
}

.detail-top-content {
  display: flex;
  background-color: aliceblue;
  justify-content: space-between;
}

.detail-image {
  width: 160px;
  height: 160px;
  clip-path: circle(80px at center);
  margin: 20px;
}

.top-left-content {
  margin: 20px;
  display: flex;
  align-items: center;
}

.detail-main-content {
  margin-top: 20px;
}

.degrees-title,
.description-title,
.location-title {
  font-weight: bold;
}

.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.detail-location img {
    width: 100%;
}

.detail-location-text {
    margin-top: 50px;
}
