<div class="content-view">
  <div class="left">
    <mat-card>
      <div class="avatar">
        <img mat-card-image [src]="avatarUrl">
      </div>
      <div class="avatar">
        <mat-card-title>{{patient?.fullname}}</mat-card-title>
      </div>
      <div class="avatar">
        <mat-card-subtitle>Username: {{patient?.username}}</mat-card-subtitle>
      </div>
      <div class="avatar">
        <button mat-flat-button color="primary">Update Avatar</button>
      </div>
    </mat-card>
  </div>
  <div class="right">
    <mat-card>
      <mat-card-title class="update-title">Update Profile</mat-card-title>
      <form class="edit-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Full Name</mat-label>
          <ng-container *ngIf="!isEdit">
            <input matInput placeholder="Full Name" [(ngModel)]="fullname" name="fullname" value={{patient?.fullname}} disabled="true">
          </ng-container>
          <ng-container *ngIf="isEdit">
            <input matInput placeholder="Full Name" [(ngModel)]="fullname" name="fullname" value={{patient?.fullname}}>
          </ng-container>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Phone Number</mat-label>
          <ng-container *ngIf="!isEdit">
            <input matInput placeholder="Phone Number" [(ngModel)]="phone" name="phone" value={{patient?.phone}} disabled="true">
          </ng-container>
          <ng-container *ngIf="isEdit">
            <input matInput placeholder="Phone Number" [(ngModel)]="phone" name="phone" value={{patient?.phone}}>
          </ng-container>
        </mat-form-field>
        <div class="avatar">
          <ng-container *ngIf="!isEdit">
            <button mat-flat-button color="primary" (click)="edit()">Edit</button>
          </ng-container>
          <ng-container *ngIf="isEdit">
            <button mat-flat-button color="warn" (click)="save()">Save</button>
          </ng-container>
        </div>
      </form>
    </mat-card>
  </div>
</div>
