<div class="body-page">
  <mat-card>
    <mat-card-title style="margin-bottom: 20px; margin-top: 10px">SignUp</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" required formControlName="username">
          <mat-error>Username is required!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" required placeholder="Password" formControlName="password">
          <mat-error>Password is required!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fullname</mat-label>
          <input matInput type="fullname" required placeholder="Fullname" formControlName="fullname">
          <mat-error>Fullname is required!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="role" formControlName="role">
            <mat-option value="Patient">Patient</mat-option>
            <mat-option value="Doctor">Doctor</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">SignUp</button>
      </form>
      <div style="margin-top: 10px">
        <button mat-button color="primary" style="float: left" (click)="login()">Login</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
