h1 {
  margin: 20px;
  font-weight: initial;
}
.no-appoint {
  margin: 20px;
  font-weight: initial;
}
.body-card {
  /*margin: 20px;*/
  width: 70%;
  /*border: 1px solid gainsboro;*/
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}

mat-grid-list {
  margin: 10px;
}

.mat-chip-list {
  width: 100px;
}

.spacer {
  flex: 1 1 auto;
}

.status {
  font-weight: bold;
  margin-right: 10px;
  float:right
}

.line-bottom {
  padding-top: 25px;
}

.bookingClass {
  color: navy;
}

.cancelClass {
  color: red;
}

.missClass {
  color: red;
}

.completeClass {
  color: chocolate;
}

.confirmClass {
  color: green;
}

.location {
  font-weight: lighter;
  font-size: small;
  color: grey;
}

.phone {
  font-weight: lighter;
  font-size: small;
}

.mat-card-subtitle {
  color: darkblue;
}
