<mat-toolbar color="primary">
  <button mat-icon-button (click)="search()">
    <img class="profile-image clip-circle" src="../assets/images/findDoctor.png" alt="Doctor Search" />
  </button>
  <span>Doctor Search</span>
  <span class="between-spacer"></span>
  <span class="welcome-text" *ngIf="isLoggedIn" (click)="profile()">Welcome, {{username}}</span>
  <button mat-icon-button color="image" [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
    <img class="profile-image clip-circle" [src]="avatarUrl" alt="Person" />
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="profile()">
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="appointments()">
      <mat-icon>calendar_today</mat-icon>
      <span>Appointments</span>
    </button>
    <button mat-menu-item *ngIf="isPatient()" (click)="search()">
      <mat-icon>search</mat-icon>
      <span>Find Doctor</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <div class="footer-column">
        <img class="profile-image clip-circle" src="../assets/images/findDoctor.png" alt="Doctor Search" />
        <span class="footer-brand">FindDoctor</span>
        <div class="footer-title">Connect Us On</div>
        <a href="https://www.instagram.com">
          <img class="social-image" src="../assets/images/instagram.png" />
        </a>
        <a href="https://www.facebook.com">
          <img class="social-image" src="../assets/images/facebook.png" />
        </a>
        <a href="https://www.twitter.com">
          <img class="social-image" src="../assets/images/twitter.png" />
        </a>
        <a href="https://www.youtube.com">
          <img class="social-image" src="../assets/images/youtube.png" />
        </a>
        <a href="https://www.linkedin.com">
          <img class="social-image" src="../assets/images/linkedin.png" />
        </a>
      </div>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <div class="footer-column">
        <div class="footer-title">Policies</div>
        <div><a class="nav-link" [routerLink]="['/find-doctors']">Privacy Policy</a></div>
        <div><a class="nav-link" [routerLink]="['/find-doctors']">Cookie Policy</a></div>
        <div><a class="nav-link" [routerLink]="['/find-doctors']">Terms of Use</a></div>
      </div>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <div class="footer-column">
        <div class="footer-title">About</div>
        <div><a class="nav-link" [routerLink]="['/find-doctors']">About FindDoctor</a></div>
        <div><a class="nav-link" [routerLink]="['/find-doctors']">Contact Us</a></div>
        <div><a class="nav-link" [routerLink]="['/find-doctors']">Careers</a></div>
      </div>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <div class="footer-column">
        <div class="footer-title">Partner</div>
        <div><a class="nav-link" [routerLink]="['/find-doctors']">Register as Doctor</a></div>
        <div><a class="nav-link" [routerLink]="['/find-doctors']">Register as Patient</a></div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="loading$ | async">
  <div class="overlay"></div>
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>
