.between-spacer {
  flex: 1 1 auto;
}

.welcome-text {
  margin-right: 20px;
}

.profile-image {
  width: 40px;
  height: 40px;
}

.footer-profile-image {
  width: 40px;
  height: 40px;
}

.clip-circle {
  clip-path: circle(20px at center);
}

.main-content {
  min-height: 750px;
  background-color: rgb(224, 243, 250);
}

.footer {
  margin-top: auto;
  background-color: lightblue;
  width: 100%;
}

.footer-column {
  margin: 10px 0 10px 20px;
}

.footer-brand {
  margin-left: 10px;
  font-weight: bold;
}

.footer-title {
  font-size: large;
  font-weight: bolder;
  margin-bottom: 10px;
}

.social-image {
  width: 30px;
  height: 30px;
  clip-path: circle(15px at center);
  margin-left: 5px;
  margin-right: 5px;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.text-find {
  padding-left: 10px;
}

.nav-link {
  font-weight: lighter;
  font-size: 15px;
}
